<div class="container-fluid">
  {{#each model as |schedule|}}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4 class="text-center">{{schedule.leagueGame}} - {{schedule.home}} v {{schedule.away}}</h4>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4">
            <img class="home-logo" src="{{schedule.homeLogo}}" alt="{{schedule.home}}">
          </div>
          <div class="col-md-4">
            <p class="text-center">Detais of the upcoming game</p>
            <p class="text-center">More Text</p>
            <p class="text-center">Even More Text</p>
          </div>
          <div class="col-md-4">
            <img class="away-logo" src="{{schedule.awayLogo}}" alt="{{schedule.away}}">
          </div>
        </div>
        <div class="panel-footer">
          <h6><span>
            {{schedule.venue}}
          </span>
          <span class="pull-right">
            {{schedule.date}}
          </span></h6>
        </div>
      </div>
    </div>
  {{/each}}
</div>
