<div class="container-fluid">
  {{#each model as |schedule|}}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{schedule.game}} - {{schedule.home}} v {{schedule.away}}</h3>
        </div>
        <div class="panel-body">
          <span><p>Detais of the upcoming game</p></span>
        </div>
        <div class="panel-footer">
          <h6><span>
            {{schedule.venue}}
          </span>
          <span class="pull-right">
            {{schedule.date}}
          </span></h6>
        </div>
      </div>
    </div>
  {{/each}}
</div>
