<div class="container-fluid">
  {{#each model as |schedule|}}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>{{schedule.leagueGame}} - {{schedule.home}} v {{schedule.away}}</h4>
          </div>
        </div>
        <div class="panel-body">
          Detais of the upcoming game
        </div>
        <div class="panel-footer">
          <h6><span>
            {{schedule.venue}}
          </span>
          <span class="pull-right">
            {{schedule.date}}
          </span></h6>
        </div>
      </div>
    </div>
  {{/each}}
</div>
