{{!-- <div class="container">
  <ul class="nav nav-pills">
    {{#link-to 'schedule.Stampede.new' tagName="li"}}<a href>Add New</a>{{/link-to}}
  </ul>
</div> --}}
<div class="container-fluid">
  {{#each model as |scheduleStampede|}}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4 class="text-center">{{scheduleStampede.teamGame}} - {{scheduleStampede.home}} v {{scheduleStampede.away}}</h4>
          </div>
        </div>
        <div class="panel-body">
          <span class="pull-left">
            <img class="home-logo" src="{{scheduleStampede.homeLogo}}" alt="{{scheduleStampede.home}}">
          </span>
          <span>
            Details of the upcoming game
          </span>
          <span class="pull-right">
            <img class="away-logo" src="{{scheduleStampede.awayLogo}}" alt="{{scheduleStampede.away}}">
          </span>
        </div>
        <div class="panel-footer">
          <h6><span class="pull-left">
            {{scheduleStampede.venue}}
          </span>
          <span>
            Tickets
          </span>
          <span class="pull-right">
            {{scheduleStampede.date}}
          </span></h6>
        </div>
      </div>
    </div>
  {{/each}}
</div>
