{{!-- <article class="listing">
  <div class="container-fluid">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4 class="text-center">{{schedule.leagueGame}} - {{schedule.home}} v {{schedule.away}}</h4>
          </div>
        </div>
        <div class="panel-body">
          <span class="pull-left">
            <img class="home-logo" src="{{schedule.homeLogo}}" alt="{{schedule.home}}">
          </span>
          <span>
            Details of the upcoming game
          </span>
          <span class="pull-right">
            <img class="away-logo" src="{{schedule.awayLogo}}" alt="{{schedule.away}}">
          </span>
        </div>
        <div class="panel-footer">
          <h6><span class="pull-left">
            {{schedule.venue}}
          </span>
          <span>
            Tickets
          </span>
          <span class="pull-right">
            {{schedule.date}}
          </span></h6>
        </div>
      </div>
    </div>
  </div>
</article> --}}

<article class="listing">
  <img src="{{schedule.image}}" alt="">
  <h3>{{schedule.home}}</h3>
  <div class="detail owner">
    <span>Owner:</span> {{schedule.away}}
  </div>
  <div class="detail type">
    <span>Type:</span> {{schedule.venue}}
  </div>
  <div class="detail location">
    <span>Location:</span> {{schedule.homeLogo}}
  </div>
  <div class="detail bedrooms">
    <span>Number of bedrooms:</span> {{schedule.away}}
  </div>
</article>
