{{!-- <div class="container">
  <ul class="nav nav-pills">
    {{#link-to 'schedule.reddevils.new' tagName="li"}}<a href>Add New</a>{{/link-to}}
  </ul>
</div> --}}

<div class="container-fluid">
  {{#each model as |scheduleReddevils|}}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>{{scheduleReddevils.teamGame}} - {{scheduleReddevils.home}} v {{scheduleReddevils.away}}</h4>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4">
            <img class="img-responsive devils-schedule" src="https://firebasestorage.googleapis.com/v0/b/nzihl-game-center.appspot.com/o/devils.png?alt=media&token=a158379a-d785-49c3-850a-46a8dd84e5d0" alt="Canterbury Red Devils">
          </div>
          <div class="col-md-4">
            <p class="text-center">Detais of the upcoming game</p>
            <p class="text-center">More Text</p>
          </div>
          <div class="col-md-4">
            <img class="img-responsive botany-schedule pull-right" src="https://firebasestorage.googleapis.com/v0/b/nzihl-game-center.appspot.com/o/swarm.png?alt=media&token=ca7193a4-9db5-4bf1-9d04-90aeda03e4b4" alt="Botany Swarm">
          </div>
        </div>
        <div class="panel-footer">
          <h6><span>
            {{scheduleReddevils.venue}}
          </span>
          <span class="pull-right">
            {{scheduleReddevils.date}}
          </span></h6>
        </div>
      </div>
    </div>
  {{/each}}
</div>
