<div class="container-fluid">
  {{#each model.playerAdmirals as |players| }}
  {{#each model.playerReddevils as |players| }}
  {{#each model.playerStampede as |players| }}
  {{#each model.playerSwarm as |players| }}
  {{!-- {{#each model.playerThunder as |players| }} --}}
    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading container-fluid">
          <div class="row">
            <div class="col-xs-9">
              <h4 class="list-group-item-heading">{{players.name}}</h4>
              <p class="list-group-item-text">{{players.team}}</p>
            </div>
            <div class="col-xs-3">
              <h4 class="pull-right">{{players.position}}</h4>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Team</th>
                  <th>GP</th>
                  <th>G</th>
                  <th>A</th>
                  <th>P</th>
                  <th>PIM</th>
                  <th>+/-</th>
                </tr>
              </thead>
              <tbody>
                <th>{{players.name}}</th>
                <th>{{players.team}}</th>
                <td>{{players.gp}}</td>
                <td>{{players.goals}}</td>
                <td>{{players.assists}}</td>
                <td>{{players.points}}</td>
                <td>{{players.pim}}</td>
                <td>{{players.plusMinus}}</td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
  {{/each}}
  {{/each}}
  {{/each}}
  {{!-- {{/each}} --}}
</div>
{{outlet}}
