{{!-- <div class="container">
  <ul class="nav nav-pills">
    {{#link-to 'schedule.Thunder.new' tagName="li"}}<a href>Add New</a>{{/link-to}}
  </ul>
</div> --}}
<div class="container-fluid">
  {{#each model as |scheduleThunder|}}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4 class="text-center">{{scheduleThunder.teamGame}} - {{scheduleThunder.home}} v {{scheduleThunder.away}}</h4>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4">
            <img class="home-logo" src="{{scheduleThunder.homeLogo}}" alt="{{scheduleThunder.home}}">
          </div>
          <div class="col-md-4">
            <p class="text-center">Detais of the upcoming game</p>
            <p class="text-center">More Text</p>
            <p class="text-center">Even More Text</p>
          </div>
          <div class="col-md-4">
            <img class="away-logo" src="{{scheduleThunder.awayLogo}}" alt="{{scheduleThunder.away}}">
          </div>
        </div>
        <div class="panel-footer">
          <h6><span>
            {{scheduleThunder.venue}}
          </span>
          <span class="pull-right">
            {{scheduleThunder.date}}
          </span></h6>
        </div>
      </div>
    </div>
  {{/each}}
</div>
