<div class="container-fluid">
  {{#each model as |playerReddevils| }}
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading container-fluid">
          <div class="row">
            <div class="col-xs-10">
              <h4 class="list-group-item-heading">{{playerReddevils.name}}</h4>
              <p class="list-group-item-text">Shoots: {{playerReddevils.shoots}}</p>
            </div>
            <div class="col-xs-2">
              <h4 class="list-group-item-heading pull-right">#{{playerReddevils.number}}</h4>
              <p class="list-group-item-text pull-right">{{playerReddevils.position}}</p>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th class="text-center col-xs-2">GP</th>
                  <th class="text-center col-xs-2">G</th>
                  <th class="text-center col-xs-2">A</th>
                  <th class="text-center col-xs-2">P</th>
                  <th class="text-center col-xs-2">PIM</th>
                  <th class="text-center col-xs-2">+/-</th>
                </tr>
              </thead>
              <tbody>
                <td class="text-center col-xs-2">{{playerReddevils.gp}}</td>
                <td class="text-center col-xs-2">{{playerReddevils.goals}}</td>
                <td class="text-center col-xs-2">{{playerReddevils.assists}}</td>
                <td class="text-center col-xs-2">{{playerReddevils.points}}</td>
                <td class="text-center col-xs-2">{{playerReddevils.pim}}</td>
                <td class="text-center col-xs-2">{{playerReddevils.plusMinus}}</td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{outlet}}
