{{!-- <div class="container">
  <ul class="nav nav-pills">
    {{#link-to 'schedule.Reddevils.new' tagName="li"}}<a href>Add New</a>{{/link-to}}
  </ul>
</div> --}}
<div class="container-fluid">
  {{#each model as |scheduleReddevils|}}
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4 class="text-center">{{scheduleReddevils.teamGame}} - {{scheduleReddevils.home}} v {{scheduleReddevils.away}}</h4>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4">
            <img class="home-logo" src="{{scheduleReddevils.homeLogo}}" alt="{{scheduleReddevils.home}}">
          </div>
          <div class="col-md-4">
            <p class="text-center">Detais of the upcoming game</p>
            <p class="text-center">More Text</p>
            <p class="text-center">Even More Text</p>
          </div>
          <div class="col-md-4">
            <img class="away-logo" src="{{scheduleReddevils.awayLogo}}" alt="{{scheduleReddevils.away}}">
          </div>
        </div>
        <div class="panel-footer">
          <h6><span class="pull-left">
            {{scheduleReddevils.venue}}
          </span>
          <span>
            Tickets
          </span>
          <span class="pull-right">
            {{scheduleReddevils.date}}
          </span></h6>
        </div>
      </div>
    </div>
  {{/each}}
</div>
